		.site-wrapper,
		.wrapper,
		.column,
		.box,
		.container,
		article,
		aside,
		section {
			@include box-sizing;
		}

// Site Wrapper

		.site-wrapper { max-width: 1024px; margin: auto; }

// Wrapper

		.wrapper {
			max-width: 1024px;
			margin: auto;
			@include clearfix;
			position: relative;

			/*@media only screen and (min-width: $bp1300px) {
				max-width: 1200px;
			}*/

			&.thinner {
				max-width: 800px;
			}

			&.thinner--centered {
				max-width: 800px;
				text-align: center;
			}
		}

// Box

// Container

// Article

// Aside

// Section

// Columns

		.column {
			display: block;
			margin: 1% 0 1% 0;
			width: 100%;
			position: relative;

			@media only screen and (min-width: $bp768px) {

				margin: 1% 0 1% 0%;
				float:left;
			}
		}

		.column:first-child { margin-left: 0; }

		.column-row {

			overflow: hidden;

			.column { padding: $base-padding;}

			&.column-row--deeper { padding: $base-padding * 4 0; }
		}

		.column-row--two {

			.column {

				@media only screen and (min-width: $bp768px) {
					width: 49.2%;
				}
			}

		}

		.column-row--three {

			.column {

				@media only screen and (min-width: $bp768px) {
					width: 33.26%;
				}
			}

		}

		.column-row--four {

			.column {

				@media only screen and (min-width: $bp768px) {
					width: 23.8%;
				}
			}

		}

		.column-row--five {

			.column {

				@media only screen and (min-width: $bp768px) {
					width: 18.72%;
				}
			}

		}

		.group:before,
			.group:after {
			    content:"";
			    display:table;
			}
			.group:after {
			    clear:both;
			}
			.group {
			    zoom:1; /* For IE 6/7 (trigger hasLayout) */
			}

			/*

